snippet //== "Fancy comment for function headers, etc" b
//==============================================================================
// $1
//==============================================================================
endsnippet
