snippet header "Inserts a sofo page header" b
<div class="mustached" data-template-id="header"></div>
endsnippet

snippet footer "Inserts a sofo page footer" b
<div class="mustached" data-template-id="footer"></div>
endsnippet

snippet div "Inserts an empty div" !b
<div id="$2" class="$1"></div>
endsnippet

snippet divni "Inserts an empty div without an id" !b
<div class="$1"></div>
endsnippet

snippet divnc "Insets an empty div without a class" !b
<div id="$1"></div>
endsnippet
