snippet -//\s?API- "Adds a new API comment for Desktop Recorder WebService" rb
//==========================================================================
// DesktopRecorder.aspx/$1
//
// description: $2
//
// params: $3
//
// json: $4
//
// response:
// $5
//==========================================================================
endsnippet

snippet //ref "Adds a new typescript reference" !b
///<reference path='$1' />
endsnippet
