[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "bundle/MatchTagAlways"]
	path = bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
[submodule "bundle/jslint.vim"]
    path = bundle/jslint.vim
    url = https://github.com/hallettj/jslint.vim.git
[submodule "bundle/ultisnips"]
    path = bundle/ultisnips
    url = https://github.com/SirVer/ultisnips
[submodule "bundle/vim-ipython"]
    path = bundle/vim-ipython
    url = https://github.com/ivanov/vim-ipython.git
[submodule "bundle/vim-less"]
    path = bundle/vim-less
    url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-ps1"]
    path = bundle/vim-ps1
    url = https://github.com/PProvost/vim-ps1
[submodule "bundle/VimClojure"]
    path = bundle/VimClojure
    url = https://github.com/vim-scripts/VimClojure.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.vim
[submodule "bundle/plantuml"]
	path = bundle/plantuml
	url = https://github.com/aklt/plantuml-syntax.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/signify"]
	path = bundle/signify
	url = https://github.com/mhinz/vim-signify
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/Tabular"]
	path = bundle/Tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/jira-complete"]
	path = bundle/jira-complete
	url = https://github.com/mnpk/vim-jira-complete.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "bundle/syntastic-local-eslint"]
	path = bundle/syntastic-local-eslint
	url = https://github.com/mtscout6/syntastic-local-eslint.vim.git
[submodule "bundle/vim-mustache-handlebars"]
	path = bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
